.title{
    margin: 0;
}

.collection-preview{
    padding-top: 100px;
  


}

.preview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}


