.menu{
    position: fixed;
    display: grid;
    z-index: 1001;
    grid-template-columns: 2% 38% 50% 8% 2%;
    grid-template-rows: 15px auto 15px;
    justify-content: center;
    justify-items: center;
    width: 100%;
    // background-color: #00000063;
}

.logoMorris{
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: left;
    img{
        width: 170px;
    }
}

.contenedorMenuAnimate{
    grid-column-start: 3;
    grid-row-start: 2;

}

.contenedorMenuSocialAnimate{
    grid-column-start: 4;
    grid-row-start: 2;

}
.contenedorMenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}

.contenedorMenuSocial{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menuBtn{
   
    
    p{
        color: lightgrey;
        color: white;
        font-size: 20px;
        margin: 10px 0 0 10px;
    }    
}

