.palabrasInter{
    display: grid;
    justify-content: center;
    justify-items: center;
   
}

.dobleErreInter{
    width: 70px;
    text-align: center;
}

.txtInter{
    max-width: 680px;
    text-shadow: 8px 12px 60px black;
}

