.contenedorNuevas{
    // background-color: black;
    display: grid;
    /* grid-template-columns: 10% 20% 20% 20% 20% 10%; */
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    // grid-template-rows: 100%;
    /* column-gap: 10px; */
    justify-items: center;
    margin-bottom: 100px;

    row-gap: 37px;

}